.wrapper-server {
    display: grid;
    grid-template-columns: 1fr 5fr 0.6fr;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    color: white;
    .br {
        display: grid;
        grid-template-columns: auto 25px;
        align-items: center;
        height: 25px;
        width: 90%;
        margin: 15px auto 0 auto;
        border-top: 2px solid rgb(100, 100, 100);
        color: rgb(181, 181, 181);
        p {
            font-size: 0.8rem;
        }
        img {
            flex-basis: 25px;
            aspect-ratio: 1;
            opacity: 0.6;
            border-radius: 5px;
            margin: 3px;
            cursor: pointer;
            &:hover {
                background-color: rgb(63, 63, 63);
            }
        }
    }
    .server-channels {
        position: relative;
        background-color: rgb(63, 63, 63);
        background: linear-gradient(108deg, rgb(83, 83, 83) 0%, rgba(70,70,70,1) 100%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-right: 1px solid rgb(152, 152, 152);
        h2 {
            position: relative;
            font-size: 1.3rem;
            text-align: center;
            padding: 5px 8px;
            border-radius: 5px;
            cursor: pointer;
            &::before, &::after {
                position: absolute;
                top: 50%;
                background-color: #717171;
                opacity: 0;

            }
            &::after {
                content: 'Click To Copy Server ID';
                left: 120%;
                transform: translateY(-50%);
                white-space: nowrap;
                font-size: medium;
                font-weight: 400;
                padding: 5px 8px;
                border-radius: 5px;
            }
            &::before {
                left: calc(120% - 5px);
                transform: translateY(-50%) rotate(45deg);
                content: '';
                height: 10px;
                aspect-ratio: 1;
                border-radius: 1px;
            }
            &:hover {
                background-color: #3f3f3f;
                &::after, &::before {
                    opacity: 1;
                }
            }
        }
        .channel-button {
            position: relative;
            padding: 5px;
            background-color: rgba(75, 75, 75, 0);
            border-radius: 5px;
            cursor: pointer;
            margin: 3px auto;
            &:hover {
                background-color: rgb(63, 63, 63);
            }
        }
        .call-controls {
            padding: 10px;
            position: absolute;
            background-color: rgb(40, 40, 40);
            top: 0;
            height: 400px;
            left: calc(100% + 1px);
            border-bottom: 1px solid rgb(152, 152, 152);
            visibility: hidden;
            pointer-events: none;
            .controls {
                position: absolute;
                display: flex;
                gap: 25px;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                button {
                    height: 50px;
                    aspect-ratio: 1;
                    border-radius: 100%;
                    border: none;
                    cursor: pointer;
                    padding: 10px;
                    img {
                        filter: invert(1);
                    }
                }
            }
            .participants {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: calc(100% - 60px);
                gap: 20px;
                .participant-view {
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    // border: 2px solid rgb(152, 152, 152);
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.445));
                    p {
                        position: absolute;
                        background-color: #27272797;
                        padding: 2px 5px;
                        border-radius: 5px;
                        margin: 5px;
                    }
                    .weboff {
                        background-color: rgb(59, 59, 59);
                        margin: 0;
                        padding: 5px;
                        height: 100%;
                        width: 100%;
                        font-size: 2rem;
                        font-weight: 700;
                        display: grid;
                        place-items: center;
                    }
                }
            }
        }
        .joined-active {
            visibility: visible;
            pointer-events: all;
        }
        h3 {
            display: grid;
            grid-template-columns: 20px auto;
            align-items: center;
            gap: 10px;
            font-size: 1rem;
            font-weight: 600;
        }
    }
    .chat-area {
        display: grid;
        grid-template-rows: 95% 5%;
        height: 100vh;
        background-color: #323232;
        .chats {
            padding: 10px;
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            li {
                padding: 5px;
                border-top: 2px solid #3f3f3f;
                p {
                    &:nth-child(1) {
                        font-weight: 700;
                        font-size: 0.9rem;
                        margin-bottom: 2px;
                    }
                    &:nth-child(2) {
                        font-size: 1rem;
                    }
                }
            }
        }
        form {
            background-color: rgb(75, 75, 75);
            width: 100%;
            display: grid;
            grid-template-columns: 9fr 1fr;
            gap: 5px;
            padding: 5px;
            border-top: 1px solid rgb(152, 152, 152);
            color: white;
            input, button {
                border-radius: 5px;
                border: none;
                padding: 10px;
                color: rgb(152, 152, 152);
            }
            input {
                background-color: rgb(57, 57, 57);
            }
            button {
                background-color: rgb(60, 60, 60);
                cursor: pointer;
                &:hover {
                    background-color: rgb(48, 48, 48);
                }
            }
        }
    }
    .chat-area-joined {
        grid-template-rows: 400px auto 5% !important; 
    }
    .joined-users {
        padding: 20px;
        background-color: rgb(75, 75, 75);
        border-left: 1px solid rgb(152, 152, 152);
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                padding: 5px 10px;
                font-size: 1.2rem;
                background-color: rgb(75, 75, 75);
                border-radius: 5px;
                &:hover {
                    background-color: rgb(67, 67, 67);
                }
                cursor: pointer;
            }
        }
    }
    li {
        list-style: none;
    }
    .active-channel {
        background-color: rgb(67, 67, 67) !important;
    }
    .participant-view {
        height: 150px;
        aspect-ratio: 16/9;
    }
}

.dialog {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.3s ease-out;
    .dialog-box {
        position: relative;
        background-color: black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 13px;
        background: rgb(101,101,101);
        background: linear-gradient(196deg, rgba(101,101,101,1) 0%, rgba(70,70,70,1) 100%);
        .xButton {
            position: relative;
            width: 25px;
            left: calc(100% - 25px);
            background-color: rgb(49, 49, 49);
            border-radius: 100px;
            transform: rotate(45deg);
            cursor: pointer ;
            opacity: 0.7;
        }
        .input-positioning {
            display: flex;
            flex-direction: row;
            height: 35px;
            border-radius: 13px;
            gap: 10px;
            input, button {
                border-radius: 10px;
                border: none;
                padding: 10px;
                color: rgb(197, 197, 197);
                background-color: #3f3f3f;
            }
            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                img {
                    width: 17px;
                    background-color: #272727;
                    border-radius: 100px;
                    transform: translateY(1px);
                    opacity: 0.8;
                }
                &:hover {
                    background-color: #383838;
                }
            }
        }
    }
}

.dialog-active {
    visibility: visible;
    opacity: 1;
}